* {
    margin: 0;
    padding: 0;
 }
 body, html {
    height:100%;
 }
 #the-canvas {
    position:absolute;
    height:100%; width:100%;
    /*border: 5px solid black;*/
    background-color: #3D3D3D;
    z-index: 0;
 }
 div.imagesLoaded
 {
   visibility: hidden;
   display: none;
 }
 div#static
{
  position: absolute;
  z-index: 2;

}
div.buttons
{
 
    position: fixed;
    bottom: 10%;
    right: 7%;
    max-width: 5%;
    z-index: 2;
    
}
.button {
    
  background-color: red;
  border: none;
  box-shadow: 0 9px rgb(116, 0, 0);
  padding: 35px;
  text-align: left;
  font-size: 1em;
  max-width: 5vw; 
  max-height: 5vh;
  
}

.button:hover {
  background-color: red;
}

.button:active {
  box-shadow: 0 5px rgb(53, 0, 0);
  transform: translateY(5px);
}


.green {
  
  color: black;

}

.round {
  border-radius: 50%;
  
}
@media only screen and (max-device-width: 600px)
{
  canvas
  {
    width:90%;
    height:90%;
  }
}